@layer utilities {

    .container {
        @apply mx-auto
            w-full
            max-w-7xl
            px-4
            sm:px-6
            lg:px-8;
    }

    /* .focus-brand {
        @apply 
            focus:outline-none
            focus:border-primary
            focus:ring-4
            focus:ring-primary-500/20;
    } */

}